## 读取数据

In [1]:
from data_visable.data_utils.dataLoader import Datasets
import numpy as np
import pandas as pd

datasets = Datasets(
    "/home/zlj/Excavator_ReID/Trained_ReID_features/1716362426.0804555_bank.npy")
bank_x = datasets.data
bank_y = datasets.target

data_show = np.concatenate((bank_x, bank_y.reshape(-1, 1)), axis=1)
data_show = pd.DataFrame(data_show)
data_show
track_res = [(i, sum(bank_y==i)) for i in set(bank_y)]
sorted_res = sorted(track_res, key=lambda x: x[1], reverse=True)
seleced_samlple = [i[0] for i in sorted_res[:4]]

In [2]:
pd.concat([pd.DataFrame(seleced_samlple), pd.DataFrame(sorted_res)], axis=1).T

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,2.0,1.0,3.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,2.0,1.0,3.0,11.0,18.0,9.0,20.0,23.0,24.0,15.0,14.0,25.0,10.0,17.0,8.0,21.0,16.0,7.0,4.0,5.0
1,903.0,829.0,432.0,117.0,104.0,64.0,53.0,36.0,34.0,33.0,25.0,21.0,19.0,18.0,14.0,13.0,8.0,4.0,3.0,3.0

In [8]:
from data_visable.data_utils.match import UnreasonMatch
with UnreasonMatch("121241-123840.mp4", "results.txt") as um:
    um.rus()
    cnfli_graph = um.unreason

print(cnfli_graph)

Processing:  36%|███▌      | 14224/39346 [00:12<00:21, 1186.01frame/s]

In [7]:
from data_visable.data_utils.match import track_distance

for i in sorted_res[4:]:
    match_range = []
    for j in seleced_samlple:
        if j in cnfli_graph[i[0]]:
            continue
        match_range.append(j)
    
    match_res = [track_distance(bank_x[bank_y==i[0]], bank_x[bank_y==j]) for j in match_range]
    print(f'{i[0]}->{seleced_samlple[match_res.index(min(match_res))]} \t {i[1]}')

18.0->11.0 	 104
9.0->11.0 	 64
20.0->11.0 	 53
23.0->11.0 	 36
24.0->11.0 	 34
15.0->1.0 	 33
14.0->3.0 	 25
25.0->11.0 	 21
10.0->11.0 	 19
17.0->1.0 	 18
8.0->3.0 	 14
21.0->11.0 	 13
16.0->3.0 	 8
7.0->3.0 	 4
4.0->3.0 	 3
5.0->3.0 	 3